<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale = 1.0">
    <title>QR-MeNow</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='contact.css') }}">
  </head>
   <body>
     <nav class="nav-bar">
        <a class="item" href="/">Home</a>
        <a class="item" href="/enternew">New Entry</a>
        <a class="item" href="/contactInfoList">View Contact Info List</a>
        <a class="item" href="/genQRCode">Generate a new qrcode</a>
        <a class="item" href="/storedQRCodes">Stored qrcodes</a>
     </nav>
     <div class="fillform">
       <form action = "/newCode" method = "POST">
          <h3>Contact Information</h3>
          Name<br>
          <input type = "text" name ="name"/></br>

          Address<br>
          <textarea name = "address" ></textarea><br>

          City<br>
          <input type = "text" name = "city" /><br>

          Email<br>
          <input type = "text" name = "email" /><br>
          <input type = "submit" value = "submit" /><br>
       </form>
     </div>
   </body>
