<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale = 1.0">
		<title>QR-MeNow</title>
		<link rel="stylesheet" href="{{ url_for('static',filename='homePage.css') }}">
	</head>
		<body>
			<nav class="nav-bar">
			   <a class="item" href="/">Home</a>
			   <a class="item" href="/enternew">New Entry</a>
			   <a class="item" href="/contactInfoList">View Contact Info List</a>
			   <a class="item" href="/genQRCode">Generate a new qrcode</a>
				 <a class="item" href="/storedQRCodes">Stored qrcodes</a>
			</nav>
			<div class="row">
  			<div class="column left">
					<p></p>
				</div>
  			<div class="column middle">
					<h1>
			    QR-MeNow
			  </h1>
			  <h2>
			    What is QR-MeNow?
			  </h2>
			  <h3>
			    QR-MeNow is your new personal business card. Swapping contact information can be an arduous process that is prone to human error. To help simplify the process QR-MeNow uses QR codes to store and share arbitrary contact information including but not limited to: LinkedIn, phone numbers, email addresses, social media, personal websites and more. Your personal QR code can be configured to only be valid for a limited amount of time or a limited number of uses, or to only display the pertinent contact information for the situation.
			  </h3>
			  <h2>
			    Why QR-MeNow?
			  </h2>
			  <h3>
			    QR-MeNow is a free service that makes the mass sharing of contact information simpler than ever for people who have a large amount of social media and other modern business cards to share.
			  </h3>
				</div>
  			<div class="column right">
					<p></p>
				</div>
			</div>
		</body>
</html>
