<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale = 1.0">
		<title>QR-MeNow</title>
		<link rel="stylesheet" href="{{ url_for('static',filename='contact.css') }}">
	</head>
   <body>
      <nav class="nav-bar">
         <a class="item" href="/">Home</a>
         <a class="item" href="/enternew">New Entry</a>
         <a class="item" href="/contactInfoList">View Contact Info List</a>
         <a class="item" href="/genQRCode">Generate a new qrcode</a>
         <a class="item" href="/storedQRCodes">Stored qrcodes</a>
      </nav>
      <table style="margin: auto;" border = 1>
         <thead>
            <td>Name</td>
            <td>Address</td>
            <td>city</td>
            <td>Email</td>
         </thead>

         {% for row in rows %}
            <tr>
               <td>{{row["name"]}}</td>
               <td>{{row["addr"]}}</td>
               <td> {{ row["city"]}}</td>
               <td>{{row['email']}}</td>
            </tr>
         {% endfor %}
      </table>
   <h2><a href = "/">Go back to home page</a></h2>
   </body>
</html>
